<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
  <nav class="header__nav">
    <a class="nav__a">
      CEBOOKLUB
    </a>
  </nav>
  <div class="hero-content">
    <div class="hero-text-container">
      <h1 class="heading-style-h1">2023</h1>
    </div>
    <div class="hero-text-container">
      <h1 class="heading-style-h1">BOOK REWIND</h1>
    </div>
    <div class="hero-subtext-container">
      <p class="hero-subtext">Take a look at the stories all of us have swam into,
        from the depths of a woman’s consciousness in the mundane,
        to the small gestures of love in the midst of despair, and then some...
      </p>
    </div>
  </div>
</header>
</body>
</html>