@font-face {
    font-family: 'Thunder';
    src: url('/fonts/Thunder.woff2') format('woff2'),
         url('/fonts/Thunder.woff') format('woff');
    font-weight: normal; /* or 400 */
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('/fonts/Thunder-Light.woff2') format('woff2'),
         url('/fonts/Thunder-Light.woff') format('woff');
    font-weight: 300; /* Specify the weight as light (300 or another appropriate value) */
    font-style: normal;
}

:root {
  --soft-beige: #F5F5DC;
  --warm-earthly-brown: #8B4513;
  --forest-green: #2E8B57;
}

.inconsolata-hero {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust this value to the desired weight */
  font-style: normal;
  font-variation-settings:
    "wdth" 100; /* Adjust this value to the desired width if necessary */
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Thunder', sans-serif;
  background-color: var(--soft-beige);
}

h1, h4, p {
    margin-bottom: 0;
}

.grid__wrapper{
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'header'
    'books'
    'footer';
  gap: 20px;
  justify-items: center;
  align-items: center;
}

header{
  display: grid;
  grid-area: header;
  grid-template-rows: auto 1fr;
  justify-items: center;
}

.header__nav{
    justify-self: start;
    padding-top: 10px;
}

.nav__a{
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: var(--warm-earthly-brown);
    transition: transform 0.3s ease;
}

.nav__a:hover{
    color: var(--forest-green);
    transform: scale(1.2) translateY(-5px);
}

.hero-content{
    text-align: center;
    display:grid;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
}

.heading-book,
.heading-rewind {
    display: inline; /* Default: Keep words on the same line */
}

.heading-style-h1{
    font-size: 15rem;
    color: var(--warm-earthly-brown);
}

.hero-subtext-container{
    text-align: center;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.hero-subtext{
    font-family: 'Inconsolata', monospace;
    color: var(--warm-earthly-brown);
}

.books{
  grid-area: books;
  display: grid;
  margin: 0 300px;
  margin-top: 100px;
  gap: 150px;
  justify-items: center;
}

.books__row{
  display: grid;
  grid-template-areas:
    'cover header'
    'body body'
    'recap recap';
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  min-height: 60vh;
  border-radius: 20px;
  padding: 40px;
  color: white;
  margin-bottom: 100px;
}

.books__row:hover{
    transform: translateY(-8px);
}

.book__image:hover{
    transform: scale(1.05);
}

.book__section--header{
    grid-area: header;
}

.book__title{
    font-family: 'Thunder', sans-serif;
    font-size: 50px;
}

.book__author{
    font-family: 'Thunder', sans-serif;
    font-size: 20px;
}

.book__section--cover{
    grid-area: cover;
    width: 200px;
}

.book__image {
    width: 100%;
    height: auto;
    display: block; /* Ensures image scales properly */
    border-radius: 20px;
}

.book__section--body{
    grid-area: body;
    text-align: justify;
}

.book__dateRead{
    font-family: 'Thunder', sans-serif;
    font-weight: 300;
}

.book__body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-top: 20px;
}

.book__section--recap{
    grid-area: recap;
/*    display: flex;
    align-items: flex-end;
    justify-content: flex-end;*/
}

.recap__text{
    font-size:20px;
    margin: 0px;
    padding-bottom: 6px;
    text-decoration: none;
    color: white;
}

.recap__text:hover{
    color:  var(--royal-blue);

    transition: color 0.5s;

}

.book--hidden{
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.book--visible{
    opacity: 1;
    transform: translateX(0);
}

footer{
  grid-area: footer;
}

@media (max-width: 768px){
    .grid__wrapper{
        gap: 10px;
    }

    header{
    }

    .header__nav{
       padding-left: 50px;
    }

    .nav__a{
        font-size: 3rem;
    }

    .hero-content{
        min-height: 100vh;
    }

    .heading-book {
        display: block; /* "BOOK" will be on its own line */
    }

    .heading-rewind {
        display: block; /* "REWIND" will be on a new line, below "BOOK" */
    }

    .heading-style-h1 {
            font-size: 7rem; /* Adjust text size for smaller screens */
    }

    .hero-subtext-container{
        padding: 0 50px;
    }


    .hero-subtext {
        font-size: 1.2rem; /* Adjust the subtext for mobile */
        line-height: 1.4; /* Make sure it's easily readable */
    }

    .books{
        gap: 300px;
        margin: 0 50px;
    }

    .books__row{
          grid-template-areas:
            'cover header'
            'body body'
            'recap recap'
            ;
          grid-template-columns: 1fr auto;
          grid-template-rows: repeat(3, auto);
          column-gap: 10px;
        padding: 20px;
    }

    .book__section--cover{
        width: 150px;
    }

    .book__title{
        font-size: 30px;
    }

    .book__author{
        font-size: 18px;
    }

    .book__body{
        font-size: 14px;
    }

    .recap__text{
        font-size: 16px;
    }
}