@font-face {
    font-family: 'Thunder';
    src: url('/fonts/Thunder.woff2') format('woff2'),
         url('/fonts/Thunder.woff') format('woff');
    font-weight: normal; /* or 400 */
    font-style: normal;
}

@font-face {
    font-family: 'Thunder';
    src: url('/fonts/Thunder-Light.woff2') format('woff2'),
         url('/fonts/Thunder-Light.woff') format('woff');
    font-weight: 300; /* Specify the weight as light (300 or another appropriate value) */
    font-style: normal;
}

:root {
  --soft-beige: #F5F5DC;
  --warm-earthly-brown: #8B4513;
  --forest-green: #2E8B57;
}

.inconsolata-hero {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Adjust this value to the desired weight */
  font-style: normal;
  font-variation-settings:
    "wdth" 100; /* Adjust this value to the desired width if necessary */
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Thunder', sans-serif;
  background-color: var(--soft-beige);
}

.grid__wrapper{
  display: grid;
  grid-template-rows: max-content max-content 5rem;
  grid-template-areas:
    'header'
    'books'
    'footer';
  padding: 0 100px;
  gap: 20px;
}

header{
  display: grid;
  grid-area: header;
  grid-template-rows: auto 1fr;
}

.header__nav{
  height: 100px;
  padding-top: 10px;

}

.nav__a{
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: var(--warm-earthly-brown);
    transition: transform 0.3s ease;
}

.nav__a:hover{
    color: var(--forest-green);
    transform: scale(1.2) translateY(-5px);
}

.hero-content{
    text-align: center;
}

.heading-style-h1{
    font-size: 15rem;
    color: var(--warm-earthly-brown);
}

.hero-subtext-container{
    text-align: center;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;

}

.hero-subtext{
    font-family: 'Inconsolata', monospace;
    color: var(--warm-earthly-brown);
}

.books{
  grid-area: books;
  display: grid;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  gap: 150px;
  justify-items: center;
}

.books__row{
  display: grid;
  grid-template-areas:
    'header cover'
    'body recap';
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);

  justify-content: start;

  min-height: 60vh;
  border-radius: 20px;
  padding: 25px;
  column-gap: 20px;
  color: white;
}

.books__row:hover{
    transform: translateY(-8px);
}

.book__image:hover{
    transform: scale(1.05);
}

.book__section--header{
    grid-area: header;
}

.book__title{
    font-family: 'Thunder', sans-serif;
    font-size: 70px;
}

.book__author{
    font-family: 'Thunder', sans-serif;
    font-size: 40px;
}

.book__section--cover{
    grid-area: cover;
    max-width: 200px;
}

.book__image {
    width: 100%;
    height: auto;
    display: block; /* Ensures image scales properly */
    border-radius: 20px;
}

.book__section--body{
    grid-area: body;
    text-align: end;
}

.book__dateRead{
    font-family: 'Thunder', sans-serif;
    font-weight: 300;
}

.book__body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-top: 20px;
}

.book__section--recap{
    grid-area: recap;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.recap__text{
    font-size:30px;
    margin: 0px;
    padding-bottom: 6px;
    text-decoration: none;
    color: white;
}

.recap__text:hover{
    color:  var(--royal-blue);

    transition: color 0.5s;

}

.book--hidden{
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.book--visible{
    opacity: 1;
    transform: translateX(0);
}

footer{
  grid-area: footer;
}