<!doctype html>
<html lang="en"
      layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/html">
<section class="books" layout:fragment="content">
    <th:block th:each="book : ${books}">
        <div th:replace="~{fragments/_book :: bookFragment(book=${book}, prefix=${prefix})}"></div>
    </th:block>
</section>
</html>